annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
asgiref==3.12.1
certifi==2026.7.22
charset-normalizer==3.5.1
click==8.5.0
Django==5.2.17
django-cors-headers==4.9.0
djangorestframework==3.18.1
djangorestframework_simplejwt==5.5.1
fastapi==0.141.1
h11==0.16.0
idna==3.20
mysqlclient==2.3.0
pydantic==2.13.5
pydantic_core==2.46.5
PyJWT==2.15.0
python-dotenv==1.2.3
requests==2.34.2
sqlparse==0.6.0
starlette==1.7.0
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.4
urllib3==2.8.0
uvicorn==0.54.0
